#rampage {
    background-image: url("https://icons.wowdb.com/retail/large/ability_warrior_rampage.jpg?43340");
}

#enrage {
    background-image: url("https://icons.wowdb.com/retail/large/spell_shadow_unholyfrenzy.jpg?43340");
}

#bloodthirst {
    background-image: url("https://icons.wowdb.com/retail/large/spell_nature_bloodlust.jpg?43340");
}

#ragingblow {
    background-image: url("https://icons.wowdb.com/retail/large/warrior_wild_strike.jpg?43340");
}

#whirlwind {
    background-image: url("https://icons.wowdb.com/retail/large/ability_whirlwind.jpg?43340");
}