// Sizes
$unitframeWidth: 240px;
$unitframeHeight: 60px;
$resourceframeHeight: 10px;

// Colours
$mana: #0000FF;
$rage: #FF0000;
$energy: #FFFF00;

$warrior: #C69B6D;
$mage: #3FC7EB;
$warlock: #8788EE;
$shaman: #0070DD;
$rogue: #FFF468;
$priest: #FFFFFF;
$paladin: #F48CBA;
$monk: #00FF98;
$hunter: #AAD372;
$evoker: #33937F;
$druid: #FF7C0A;
$demonhunter: #A330C9;
$deathknight: #C41E3A;